/* About me section styles */

.about-me.content-container {
    /*background: #61dafb;*/
}

.section1 {
    background: url('../media/dot_pattern_diag.png');
    background-color: #ffc78e;
    background-size: 80px 80px;
    animation: scrolling 2s linear infinite;
}

.aboutme-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutme-container img {
    max-width: 500px;
    min-width: 50px;
    padding: 0px 1vw;
    border-radius: 100px;
    object-fit: cover;
    flex: auto;
}

.aboutme-container .description {
    max-width: 600px;
}