/* About me section styles */

.about-me.content-container {
    /*background: #61dafb;*/
}

.section1 {
    background: url('../media/dot_pattern_diag.png');
    background-color: #ffc78e;
    background-size: 80px 80px;
    animation: scrolling 2s linear infinite;
}

.aboutme-container {
    display: flex;
    flex-direction: row;
}

.aboutme-container img {
    width: 27vw;
    padding: 0px 1vw;
    border-radius: 100px;
    object-fit: cover;
}