/* Nav bar related styles */

/* Navbar should be a pop-out menu on the left side - when the navbar comes out it should shift the entire body of the page to the right */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 40px;
  background: #ffffff00;
  z-index: 2;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "FOT-SeuratProUB";
  transition: 0.3s;
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

.navbar > a:link {
  color: rgb(0, 0, 0);
}

.navbar > a:visited {
  color: rgb(0, 0, 0);
}

.navbar-item {
  border: 5px solid #ebfeeb;
  position: relative;
  border-radius: 10px;
  padding: 15px 20px;
  transition: 0.2s;
  transition-timing-function: ease-out;
  text-decoration: none;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.navbar a {
  font-size: 2vw;
}

.navbar-item:hover {
  top: 0px;
  padding-top: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-shadow: 
						0px 0px #ffffff;
}

.section0 {
  background-color:rgb(101, 219, 255)
}
