/* Nav bar related styles */

/* Navbar should be a pop-out menu on the left side - when the navbar comes out it should shift the entire body of the page to the right */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5vh;
  background: #e310ff;
  z-index: 2;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

a.anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

.navbar-item {
  background-color: #b7f804;
  border-radius: 50px;
  padding: 5px 5px;
}
