.project.content-container {
}

.bubble {
    background-color: #5CC8FF;
    border-radius: 20vw / 20vw 20vw 20vw 20vw;
    /*cursor: pointer;*/
}

.section2 {
    /*
    background: url('../media/star_pattern_diag.png');
    background-color: #54bed8;
    background-size: 80px 80px;
    animation: scrolling 2s linear infinite;
    */
    background-color: #DEC1FF;

}

.project-header-wrap {
    position: relative;
    z-index: 1;
    top: 20px;
}

.bubble.project-header {
    display: inline-block;
    width: 40vw;
    min-width: 350px;
}

.project-header h4 {
    font-size: 36px;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}

.projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 10px;
}



.image-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-wrap:wrap;
}

.description img {
    border-radius: 25px;
    min-width: 250px;
    max-width: 500px;

}

.flex-image-display img {
    border-radius: 50px;
    width: 500px;
}

.flex-image-display {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 250px;
}

.video-responsive {
    overflow: hidden;
    padding-bottom: 500px;
    padding-top: 20px;
    position: relative;
    height: 0;
    width: 100%;
    text-align: center;
  }
  