.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dfdfdf;
    border-radius: 10px;
    padding-bottom: 60px;
    padding-top: 20px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
    gap: 10px;
    flex: 20%;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    padding: 10px 25px;
    flex: 1;
    height: 50px;
}

li.soft {
    background-color: #FF7369;
}

li.hard {
    background-color: #7D70BA;
}

li.subject {
    background-color: #5CC8FF;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.soft-icon {
    background-image: url("../media/soft.png");
}

.hard-icon {
    background-image: url("../media/hard.png");
}

.subject-icon {
    background-image: url("../media/subject.png");
}

.skills-header {
    width: 85%;
    border-radius: 100px;
    background-color: #343633;
    color: white;
}

.skill > p {
    font-size: 20px;
}
