.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #34796162;
    border-radius: 100px;
    padding-bottom: 60px;
    padding-top: 20px;
}

.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    padding-left: 0;
    gap: 10px;
    flex: 33.33%;
}

.skill {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    border-radius: 10px;
    border: 5px solid #fef6eb;
    padding: 10px 25px;
    flex: 1;
    height: 50px;
}

li.soft {
    background-color: rgb(255, 98, 185);
}

li.hard {
    background-color: rgb(175, 116, 214);
}

li.subject {
    background-color: rgb(145, 228, 210);
}

.icon {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 15px;
}

.soft-icon {
    background-image: url("../media/soft.png");
}

.hard-icon {
    background-image: url("../media/hard.png");
}

.subject-icon {
    background-image: url("../media/subject.png");
}

.skills-header {
    width: 85%;
    border-radius: 100px;
    background-color: #b7f804;
}

.skill > p {
    font-size: 20px;
}
