/* social related styles */
.socials-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }

  .social-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .social-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #b7f804;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.25s;
    flex: 1;
    justify-content: center;
  }

  .social-item:hover {
    box-shadow: 12px 12px rgba(0,0,0,0.2);
    scale: 1.15;
  }

  .social-icon {
    min-width: 60px;
    min-height: 60px;
  }

  /*.resume-icon {
    background-image: url("../media/resume.png");
  }*/

  .mail-icon {
    background-image: url("../media/mail.png");
  }

  .linkedin-icon {
    background-image: url("../media/linkedin.png");
  }

  .github-icon {
    background-image: url("../media/github.png");
  }

  .instagram-icon {
    background-image: url("../media/instagram.png");
  }

  .socials-container > a {
    text-decoration: none;
  }

  .socials-container > a:hover {
    text-decoration:underline;
  }

  .credits-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .credits {
    margin-top: 40px;
    font-size: 12px;
    background: #d5ece4d2;
    border: 8px solid #ebfeeb;
    border-radius: 20px;
    padding: 10px 40px;
  }
