/* CSS related to text - fonts, text-related animations, etc */

@font-face {
  font-family: "coolvetica";
  src: local("coolvetica"), url("../fonts/coolvetica.otf") format("truetype");
}

@font-face {
  font-family: "coolvetica_comp";
  src: local("coolvetica_comp"), url("../fonts/coolvetica_comp.otf") format("truetype");
}

@font-face {
  font-family: "FOT-RodinProUB";
  src: local("FOT-RodinProUB"), url("../fonts/FOT-RodinProUB.otf") format("truetype");
}

@font-face {
  font-family: "FOT-SeuratProUB";
  src: local("FOT-SeuratProUB"), url("../fonts/FOT-SeuratProUB.otf") format("truetype");
}

.wavy {
  animation-name: wavy-anim;
  animation-duration: 1.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.letter {
    position: relative;
    white-space: pre;
}

.wavy-wrap {
  display: inline-block;
  overflow-wrap: break-word;
}

.important {
  color: #2ba4c2;
}

@keyframes wavy-anim {
    0% {
        bottom: 0px;
    }
    50% {
        bottom: 7px;
    }
    100% {
        bottom: 0px;
    }
}
